.banner-containers{
    height: 600px;
    color: #fff;
}
.carousel-caption {
    display: flex;
    align-items: center;
    top: 0;
    left: 0 !important;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 700px;
    text-align: center; 
}
.caption h1{
    font-size: 48px;
    font-weight: 700;
}
.caption p{
    font-size: 20px;
}

.carousel-container{
    height: 600px;
    
}
.carousel-container::before{
    content: "";
    display: block;
    background: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.caption h4{
    color: crimson;
}
.bn-special{
    font-size: 1.2em;
    color: #006466;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    /* background-color: transparent!important;
    border-color: lightgrey !important;
    border-radius: 50% !important; */
    display: none;
    
}
.carousel-indicators [data-bs-target] {
    
    background-color: lightgrey !important;
    display: none;
   
}
.btn-style{
    font-weight: 500;
    border: none;
    padding: 15px 35px;
    background-color: #ed563d !important;
    color: #fff;
    margin-top: 30px;
    transition: all 0.3;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold !important;
}
.btn-style:hover{
    color: #fff;
    background-color: #518e7d !important;
    transition: 0.1;
}
.btn-style:active{
    color: #fff;
    background-color: coral !important;
}
.caption h2{
    font-family: Ubuntu;
    font-weight: bold;
    margin-bottom: 30px;
}
.caption h2 span{
    color: rgb(78, 150, 78);
}
.caption h1{
    font-size: 68px;
    margin-top: 70px;
    padding: 30px;
}
.caption h3{
    font-weight: bold;
    font-size: 30px;
}
.caption p{
    font-weight: 500;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
    margin-right: 10px;
    margin-left: 0;
    margin: auto;
}
.navItems{
    margin-right: -100px;
    margin: auto;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}


@media only screen and (max-width: 600px) {
    .carousel-container img{
        height: 300px;
    }
    .carousel-caption {
        
        top: 0;
        left: 0px !important;
        color: black;
        width: 300px;
        text-align: left; 
    }
    .btn-style{
        font-weight: 500;
        border: 1px solid #fff;
        padding: 10px 20px;
        background-color: #fff !important;
        color: rgb(70, 19, 75);
        box-shadow: 4px 4px 20px rgba(129, 128, 128, 0.12);
        margin-top: 5px;
        transition: all 0.5;
    }
}

